@import "tailwindcss";

@font-face {
  font-family: 'MyriadPro';
  src: url('../assets/fonts/MYRIADPRO-REGULAR.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../assets/fonts/MYRIADPRO-BOLD.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'MyriadPro', system-ui, sans-serif;
}

body {
  font-family: 'MyriadPro', system-ui, sans-serif;
}